    <h1>Weather Update</h1>
    <div>Location: {{location.city}}, {{location.region}}</div>
    <div>Date: {{currentDate}}</div>
    <div>Conditions: {{item.condition.text}}</div>
    <div>Current Temp: {{item.condition.temp}} {{temperature}}</div>
    <div>Sunrise: {{astronomy.sunrise}}</div>
    <div>Sunset: {{astronomy.sunset}}</div>
    <div>
      <ul>
        {{#each item.forecast}}
        <li>{{day}} {{date}} : hi | {{high}} {{temperature}}, low | {{low}} {{temperature}}</li>
        {{/each}}
      </ul>
    </div>  